doctype html
head
    title='Papes'
    link(rel='icon' type='image/png' href='images/favicon.png')
    link(rel='stylesheet' type='text/css' href='css/style.css')
    
body
    header
        form
            input(type='text' placeholder='Search...')
        nav
            li
                a(href='https://discord.gg/ExAGgVR')
                    img(src='./images/discord.svg')
            li
                a(href='https://github.com/vallode')
                    img(src='./images/github.svg')
    div#imageWrapper.wrapper
        div.image#highlight
            div.content
                a(href='./images/testpapes/0.jpg' download)
                    img(src='./images/down.svg')
            img(src='./images/testpapes/0.jpg')
        div.image
            div.content
                a(href='./images/testpapes/1.jpg' download)
                    img(src='./images/down.svg')
            img(src='./images/testpapes/1.jpg')
        div.image
            div.content
                a(href='./images/testpapes/2.jpg' download)
                    img(src='./images/down.svg')
            img(src='./images/testpapes/2.jpg')
        div.image
            div.content
                a(href='./images/testpapes/3.jpg' download)
                    img(src='./images/down.svg')
            img(src='./images/testpapes/3.jpg')
        div.image
            div.content
                a(href='./images/testpapes/4.jpg' download)
                    img(src='./images/down.svg')
            img(src='./images/testpapes/4.jpg')
        div.image
            div.content
                a(href='./images/testpapes/5.jpg' download)
                    img(src='./images/down.svg')
            img(src='./images/testpapes/5.jpg')
        div.image
            div.content
                a(href='./images/testpapes/6.jpg' download)
                    img(src='./images/down.svg')
            img(src='./images/testpapes/6.jpg')
        div.image
            div.content
                a(href='./images/testpapes/7.jpg' download)
                    img(src='./images/down.svg' download)
            img(src='./images/testpapes/7.jpg')
        div.image
            div.content
                a(href='./images/testpapes/8.jpg' download)
                    img(src='./images/down.svg')
            img(src='./images/testpapes/8.jpg')
        div.image
            div.content
                a(href='./images/testpapes/9.jpg' download)
                    img(src='./images/down.svg')
            img(src='./images/testpapes/9.jpg')
script(src='scripts/main.js')