header
	form.search
		input(type='text' placeholder='Search...')
	div.links
		li
			a(href='https://discord.gg/pnMPMXy')
				img(src='/images/discord.svg')
		li
			a(href='https://github.com/vallode')
				img(src='/images/github.svg')